{% extends "app/geral/layout.html" %}

{% block content %}
<div class="span3">
{% include "app/geral/menu.html" %}
</div>
<div class="span9">
    <div class="content">
	<div class="module">
            <div class="module-head">
                <h3>
                    Rela&ccedil;&atilde;o de servi&ccedil;os contratados</h3>
            </div>
            <div class="module-body table">
                <h3>Quantidade de Usuários - Geral </h3>
                
                {% if servicosContratados %}
                      {% for tipo,descricao,qtd,valorTotal in servicosContratados%}
                            <strong> {{descricao }} </strong> -  <strong> {{qtd}}  - R$ {{valorTotal}} </strong>
                <br />
                      {% endfor%}
                {% endif %}
                <hr />

               
               
            </div>
        </div>
        <!--/.module-->
        <!--/.module-->

    </div>
    <!--/.content-->
</div>
<!--/.span9-->
{% endblock %}                