{% extends "app/geral/layout.html" %}
 {% load staticfiles %}
<script src="{% static 'sistema/scripts/jquery.barrating.min.js' %}"></script>

{% block content %}
{% load humanize %}

<style>

    #AP {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #000000;
    color: #ffffff;
    background-color: #f0ad4e;
    border-color: #eea236;
    
}
    
    #AG {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #000000;
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
    #CP {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
    #CC {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #d9534f;
    border-color: #d43f3a;
}

    #EX {
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
}
    #AV {
        border-radius: 50%;
        display: inline-block;
        height: 20px;
        width: 20px;
        color: #ffffff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
</style>



<script>

$(document).ready(function () {
    $('.avaliacao').on('change', function () {
        var idClienteServico = $(this).attr('id');
        var nota = $('#' + idClienteServico).val();
        
        $.ajax({
            url: 'avaliarServico/',
            type: 'POST',
            data: { 'IdClienteServico': idClienteServico, 'nota': nota, 'csrfmiddlewaretoken': $("input[name = 'csrfmiddlewaretoken']").val() },
            success: function (response) {
                result = JSON.parse(response);
                if (result) {
                    $('#' + idClienteServico).prop('disabled', false);
                    alert('Avaliação Efetuada com Sucesso!');
                } else {
                    console.log('error');
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    
     $('#vTodos').on('click', function () {
         $('.divAP').fadeIn('fast')
         $('.divCP').fadeIn('fast')
         $('.divEX').fadeIn('fast')
         $('.divAV').fadeIn('fast')
         $('.divAG').fadeIn('fast')
     });

     $('#vAgendados').on('click', function () {
         $('.divAG').fadeIn('fast')
         $('.divAP').fadeOut('fast')
         $('.divCP').fadeOut('fast')
         $('.divEX').fadeOut('fast')
         $('.divAV').fadeOut('fast')
     });

     $('#vPendentes').on('click', function () {
         $('.divAG').fadeOut('fast');
         $('.divCP').fadeOut('fast');
         $('.divEX').fadeOut('fast');
         $('.divAV').fadeOut('fast');
         $('.divAP').fadeIn('fast');
     });

     $('#vCancelados').on('click', function () {
         $('.divAG').fadeOut('fast');
         $('.divAP').fadeOut('fast');
         $('.divEX').fadeOut('fast');
         $('.divAV').fadeOut('fast');
         $('.divCP').fadeIn('fast');
         $('.divCC').fadeIn('fast');
     });

     $('#vAvaliados').on('click', function () {
         $('.divAG').fadeOut('fast');
         $('.divCP').fadeOut('fast');
         $('.divEX').fadeOut('fast');
         $('.divAA').fadeOut('fast');
         $('.divAV').fadeIn('fast');
     });

     $('#vExecutados').on('click', function () {
         $('.divAG').fadeOut('fast');
         $('.divCP').fadeOut('fast');
         $('.divAA').fadeOut('fast');
         $('.divAV').fadeOut('fast');
         $('.divEX').fadeIn('fast');
     });
 });
</script>

<div class="span3">
{% include "app/geral/menu.html" %}
</div>
<div class="span9">
    <div class="content">
	<div class="module">
            <div class="module-head">
                <h3> Gerenciando os Serviços</h3>
                
            </div>
        <br />
        {% csrf_token %}
        <div class="btn-group btn-group-justified span9" style="border:0px solid;display: block;align:center;" role="group">
								
                    <button class="btn btn-default" role="group" id="vTodos">	Todos </button>
                    <button class="btn btn-warning" role="group" id="vPendentes">	Pendentes </button>
                	<button class="btn btn-info" role="group" id="vAgendados">	Agendados </button>	
                    <button class="btn btn-danger" role="group" id="vCancelados">	Cancelados </button>	
					<button class="btn btn-primary btn" role="group" id="vExecutados">Executados </button>
                    <button class="btn btn-success" role="group" id="vAvaliados">	Avaliados </button>		
				  			  
				</div>
             <hr> <br />	
            {% if msg %}
                    {% include "app/geral/feedbackUser/msgSucesso.html" %}
            {% endif %}

            {% if servicos %}
            <div class="module-body">
                {% for servico in servicos %}
                    <div class="div{{servico.IdSituacao_id}} responsive" style="font-size:14;">
                        <strong style="font-size:16;">  Data {{ servico.DataServico | date:"d/M/Y"}} </strong>
                           <br>             
                        <strong  style="margin-left:30px;">Área Serviço:</strong>    {{ servico.IdServico.IdCategoria.DescricaoCategoria }} / {{ servico.IdServico.IdSubCategoria.DescricaoSubCategoria }}
                                    
                                           
                        <strong style="margin-left:30px;">Situação:</strong>
                            <span id="{{servico.IdSituacao_id}}"> </span>  {{servico.IdSituacao.Descricao}} (em {{ servico.DataHoraSituacao | date:"d/M/Y"}})
                        <br />
                        <strong>  Horas Contratadas: </strong>  {{ servico.QtHoras}} horas  X  {{ servico.ValorHora | floatformat:2|intcomma }}
                        <strong style="margin-left:30px;">  Valor total: </strong>  {{ servico.ValorTotal | floatformat:2|intcomma }} 
                        <br /><p></p>
                        <strong style="margin-left:30px;">  Nome Prestador: </strong>  {{ servico.IdServico.IdUsuario.Nome }} 
                        <br />
                        <strong style="margin-left:30px;">  Tel. Principal: </strong> {{servico.IdServico.IdUsuario.Telefone1 }}
                        <strong style="margin-left:30px;">  Tel. Auxiliar: </strong> {{servico.IdServico.IdUsuario.Telefone2 }}
                        <strong style="margin-left:30px;">  Email: </strong> {{servico.IdServico.IdUsuario.Email }}
                        <br />
                        <strong style="margin-left:30px;">  Endereço: </strong>{{ servico.IdServico.IdUsuario.IdEndereco.Logradouro}}, {{ servico.IdServico.IdUsuario.IdEndereco.Numero}} - Bairro: {{ servico.IdServico.IdUsuario.IdEndereco.Bairro}} - Cidade: {{ servico.IdServico.IdUsuario.IdEndereco.Cidade}} - UF: {{ servico.IdServico.IdUsuario.IdEndereco.Estado}} -        CEP: {{ servico.IdServico.IdUsuario.IdEndereco.CEP}}
                            <p><p><strong style="margin-left:30px;">  Descrição: </strong> {{ servico.Descricao}}</p></p>
                             
                            <div style="float:right;display:block;" >
                              
                               
                                <!-- CANCELAR -->
						        <a href="cancelarServicoC/?id={{servico.IdClienteServico}}" title="Cancelar" style="margin-left: 10px;"><img src="{% static 'sistema/images/icons/cancelar.png'%}" width="25px" alt="Editar" /></a>
                            </div>
                        {% if servico.IdSituacao_id == 'EX'%}
                                <div style="float:right;">
                                    
                                    <select id="{{ servico.IdClienteServico}}" class="avaliacao"> <!-- now hidden -->
                                    <option value="">--Avalie!--</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    </select>
 
                                </div>
                        {% endif %}
                    <br />
                        <hr />
                    </div>
                      
                {% endfor %}
                  </div>
                        
                    {% endif %}
                        
                    {% if not servicos %}    
                        <h3> N&atilde;o existem serviços aguardando aprovação</h3>
                    {% endif %}
                <hr />
			</div>

        
	</div><!--/.content-->
</div><!--/.span9-->
{% endblock %}         		                