{% extends "app/geral/layout.html" %} {% block content %}
<div class="span3">
  {% include "app/geral/menu.html" %}
</div>

<!--/.span3-->
<div class="span9">
  <div class="content">
    <h1> Quem somos </h1>

    <h4>Motivação</h4>
    <p class="span9">
      Projeto apresentado nas disciplinas de Tecnologias Web, Desenvolvimento de Aplicações Distribuídas e Testes de Software.
    </p>
    <h4>Tecnologias Utilizadas</h4>
    <p class="span9"> HTML5, CSS, JavaScript, JQuery, Bootstrap, Django, Python 2.7 e banco de dados SQLite. </p>
    <h4>Instituição</h4>
    <p class="span9"> Pontifícia Universidade Católica de Minas Gerais </p>

  </div>
  <!--/.content-->
</div>
<!--/.span9-->
{% endblock %}
