{% extends "app/geral/layout.html" %}

{% block content %}
<div class="span3">
{% include "app/geral/menu.html" %}
 </div>

<!--/.span3-->
<div class="span9">
    <div class="content">
<h1 style="margin-top:40px"> Resultados para a busca: "palavra-chave" </h1>

<h4>Nome do Servico</h4>
<p class="span9"> Valor: R$ 00,00 / hora    </p>
<p class="span9"> Contato: (00) 0000-0000  - E-mail: contato@contato.com.br    </p>
<p class="span9"> Disponibilidade: Segunda a Sexta, 08:00 &agrave;s  18:00hrs    </p>
<p class="span9"> <a href="#"> Contratar </a>   </p>


        <h4>Nome do Servico</h4>
<p class="span9"> Valor: R$ 00,00 / hora    </p>
<p class="span9"> Contato: (00) 0000-0000  - E-mail: contato@contato.com.br    </p>
<p class="span9"> Disponibilidade: Segunda a Sexta, 08:00 &agrave;s  18:00hrs    </p>
<p class="span9"> <a href="#"> Contratar </a>   </p>
        <h4>Nome do Servico</h4>
<p class="span9"> Valor: R$ 00,00 / hora    </p>
<p class="span9"> Contato: (00) 0000-0000  - E-mail: contato@contato.com.br    </p>
<p class="span9"> Disponibilidade: Segunda a Sexta, 08:00 &agrave;s  18:00hrs    </p>
<p class="span9"> <a href="#"> Contratar </a>   </p>
        <h4>Nome do Servico</h4>
<p class="span9"> Valor: R$ 00,00 / hora    </p>
<p class="span9"> Contato: (00) 0000-0000  - E-mail: contato@contato.com.br    </p>
<p class="span9"> Disponibilidade: Segunda a Sexta, 08:00 &agrave;s  18:00hrs    </p>
<p class="span9"> <a href="#"> Contratar </a>   </p>
    </div>
    <!--/.content-->
</div>
<!--/.span9-->
{% endblock %}