
<!DOCTYPE html>
<html lang="pt">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Colmeia</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- NAVBAR
    ================================================== -->
    <style>
        /* use navbar-wrapper to wrap navigation bar, the purpose is to overlay navigation bar above slider */
        .navbar-wrapper {
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            height: 51px;

        }
        .navbar-wrapper > .container {
            padding: 0;
        }

        @media all and (max-width: 768px ){
            .navbar-wrapper {
                position: relative;
                top: 0px;
            }
        }
    </style>

    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
                <div class="container">
                    <div class="navbar-header">
                        <a href="{% url 'index'%}" style="border: 2px #000;" ><img src="{% static 'sistema/images/logoNegativo.png'%}" width="70px" /></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'index' %}"> In&iacute;cio</a></li>
                            <li><a href="{% url 's_quemSomos' %}"> Quem somos</a></li>
                            <li><a href="{% url 's_contato' %}">Contato</a></li>
                        </ul>
                        <a href="{% url 'login' %}" > <button class="btn btn-default" style="float: right;margin-top: 8px;">Login</button></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    {% block content %}  {% endblock %}

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; Colmeia - 2016. &middot; </p>
        </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'sistema/scripts/jquery-1.9.1.min.js'%}"></script>
    <script src="{% static 'sistema/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sistema/scripts/docs.min.js' %}"></script>
    <script src="{% static 'sistema/scripts/jquery.inputmask.bundle.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'sistema/scripts/ie10-viewport-bug-workaround.js' %}"></script>

    <!-- jssor slider scripts-->
    <!-- use jssor.slider.debug.js for debug -->
    <script type="text/javascript" src="{% static 'sistema/scripts/jssor.slider.mini.js' %}"></script>

    {% block scripts %}{% endblock %}

  <script src="{% static 'app/scripts/scriptsSite.js' %}"></script>
</body>
</html>
