{% extends "app/site/layoutSite.html" %}
{% load staticfiles %}

{% block content %}
 <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"> Contato </h2>
                <p class="lead"> Fale conosco atraves do email <a href="mailto:"> colmeia@colmeia.com.br </a> </p>
					
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

{% endblock %}
