{% extends "app/site/layoutSite.html" %}
{% load staticfiles %}

{% block content %}
 <div class="container marketing">

        <hr class="featurette-divider"> </hr>

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"> Quem somos </h2>
                Porque Colmeia? Em uma Colmeia temos muitos organismos da mesma esp&eacute;cie com o mesmo ideal. Sabia que sem Colmeias de abelhas no mundo o planeta nem existiria? 
                A Colmeia &eacute; sustentabilidade! Somos um grupo de pessoas conectadas com objetivo de contratar e oferecer servi&ccedil;os.
                
                <h4 style="margin-top: 40px;">Motivação</h4>
                
                <p class="span9">
                Projeto apresentado nas disciplinas de Tecnologias Web, Desenvolvimento de Aplicações Distribuídas e Testes de Software.
                </p>
                <h4 style="margin-top: 40px;">Proprietários</h4>
                <p class="span9">	<b> Analista de negócios:</b> Maicon Abreu </p>
                <p class="span9"> <b>DBA:</b> Letícia Gonçalves Nascimento </p>
                <p class="span9"> <b> Arquiteta de Software: </b> Érika Maria Machado </p>
                <p class="span9"> <b> Analista de Sistemas: </b> Pedro Augusto Duarte de Almeida </p>
                <p> </p>
                <h4 style="margin-top: 40px;">Tecnologias Utilizadas</h4>
                <p class="span9">	HTML5, CSS, JavaScript, JQuery, Bootstrap, Django, Python 2.7 e banco de dados SQLite. </p>
                <h4 style="margin-top: 40px;">Instituição</h4>
                <p class="span9">	Pontifícia Universidade Católica de Minas Gerais  </p>
                <p class="span9"> Sistemas de Informação | Noite | Unidade São Gabriel </p>
                
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>
</div>
      

{% endblock %}
