{% extends "app/geral/layout.html" %}

{% block content %}
<div class="span3">
{% include "app/geral/menu.html" %}
</div>
<div class="span9">
    <div class="content">
	<div class="module">
            <div class="module-head">
                <h3>
                    Relatórios Adminstrativos </h3>
            </div>
            <div class="module-body table" style="font-size:18px;">
                
                <h3>Quantidade de Usuários - Geral </h3>
                
                {% if quantidadeUsuariosGeral %}
                      {% for descricao, qt in quantidadeUsuariosGeral%}
                            <strong> {{descricao }} </strong>: <strong> {{qt}}  </strong>
                <br />
                      {% endfor%}
                {% endif %}

                <hr />

                <h3>Serviços com Melhores Avaliações </h3>
                
                {% if melhoresAvaliacoes %}
                      {% for subcategoria, avaliacao in melhoresAvaliacoes%}
                            <strong> {{subcategoria }} </strong>: <strong> {{avaliacao}}  </strong>
                <br />
                      {% endfor%}
                {% endif %}

                <hr />

                <h3>Serviços com Melhores Avaliações </h3>
                
                {% if melhoresAvaliacoes %}
                      {% for subcategoria, avaliacao in melhoresAvaliacoes%}
                            <strong> {{subcategoria }} </strong>: <strong> {{avaliacao}}  </strong>
                <br />
                      {% endfor%}
                {% endif %}
            </div>
        </div>
        <!--/.module-->
        <!--/.module-->

    </div>
    <!--/.content-->
</div>
<!--/.span9-->
{% endblock %}                