{% extends "app/geral/layout.html" %}

{% block content %}
<div class="span3">
{% include "app/geral/menu.html" %}
 </div>
  <!--/span-->
        <div class="span9">
            <div class="jumbotron">
                 <h1>In&iacute;cio</h1>
                <p>Em  um mundo em que as pessoas utilizam crescentemente a Web para tarefas rotineiras, 
                parece natural  que,  em  pouco  tempo,  prestadores  de  servi&ccedil;o  e  pessoas  necessitando  de  servi&ccedil;os  
                espec&iacute;ficos busquem  maneiras  mais  &agrave;geis  e  pr&aacute;ticas  de  entrarem  em  contato.  Atualmente,  &eacute;  comum  
                que  ambos  os lados gastem muito tempo nesta tarefa, ou realizando propaganda que &eacute; dif&iacute;cil de ser direcionada 
                e atingir seu  p&uacute;blico  alvo,  ou  procurando  aleatoriamente  an&uacute;ncios  ou  recorrendo  a  indica&ccedil;&atilde;o  nem  sempre
                  muito precisas de amigos e parentes.</p>
                
                </p>
            </div>
        </div>
{% endblock %}
